nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 50px;
    background-color:rgba(91, 91, 95, 0.342);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;
    /* position:fixed; */
  }
  
  .logo h2 {
    color: #000;
    color: white;
  }
  .logo img{
    width: 180px;
    height: 60px;
    border-radius: 12px;
  }
  
  nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  nav ul li a {
    display: block;
    padding: 10px 15px;
    color: #000;
    color: white;
    text-decoration: none;
  }
  
  .menu-icon {
    display: none;
  }
  ul li :hover{
    color: yellow;
  }
  @media screen and (max-width: 768px) {
    .nav-links {
      display: none;
    }

    nav {
        display: flex;
        justify-content: space-between;
    
      }
      

    .logo img{
        width: 100px;
        height: 60px;
        /* margin-left: 0px; */
        border-radius: 12px;
      }
      /* .logo{
        border: 1px solid red;
        width: 180px;
        height: 60px;
        margin-left: -50px;
        border-radius: 12px;
      }
       */
      
  
    .menu-icon {
      display: block;
      cursor: pointer;
      color: white;
    }
  
    .mobile {
      display: flex;
      flex-direction: column;
      background-color: #91f1e6e8;
      position: absolute;
      top: 60px;
      left: 0;
      right: 0;
      z-index: 1;
    }
  
    .mobile li {
      text-align: center;
      margin: 10px 0;
    }
  
    .mobile li a {
      padding: 10px;
      font-size: 1.2rem;
      color: #000;
      text-decoration: none;
    }
  }
  









  

 